# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ipzynknftdwtnvcbpbko.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlwenlua25mdGR3dG52Y2JwYmtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwMTY0NjUsImV4cCI6MjA4ODU5MjQ2NX0.D9aX0FF3ukntrlModMRTG5-6iQQn7oP9q-b3ic36eFg

# GROQ
GROQ_API_KEY=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
